.header{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(149, 250, 204);
    width: fit-content;
}
.header nav{
    display: flex;
    justify-content:space-around;   
}
.header ul{
    justify-items: end;
}
.carousel-item img{
    height: 100%;
    vertical-align: middle;
}
.navbar-nav{
    align-items: end;
}

.navbar img{
    margin: 0 0 0 15px;
    object-position: center;
}

.m-auto {
    margin-left: auto;    
}

.images-carousel{
    height: 400px;
    width: auto;
    object-position: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.m-card{
    margin: 10px;
}

.img-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 80%;
    height: auto;
    margin: 10px;
}

.btn-img{
    max-width: 20px;
    max-height: auto;
    margin: 5px;
    justify-content: center;
    object-position: center;
    background-color: #999b9c69;
    border-color: #0d6dfd00;
    
}
.nav-item{
    list-style: none;
    margin: 0 15px 0 15px;
}
.card-instagram{
    justify-content: center;
    object-position: center;
}
.footer-cont{
    background-color: rgb(153, 127, 179);
    padding: 0 15px 0 15px;
}

.btn-footer {
    color: #fff;
    background-color: #0d6dfd00;
    border-color: #0d6dfd00;
    display: flex;
    object-position: center;
}